<%= form_with(model: parent, local: true) do |form| %>
<!-- for for or form with? -->



<% if parent.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>

  <ul>
    <% parent.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form.text_field :name, placeholder: "Enter parent's name" %>
<br>
<br>


<div class="actions">
  <%= form.button :Submit, class: "btn btn-medium btn-success" %>
</div>
<br>


<% end %>



<!--
Old button
<div class="actions">
< %= form.submit %>
</div>
-->